/* j'enleve les marges de mon cadre */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0px solid blue; */
    text-decoration: none;
}

/* je met le font à 62.5% afin de ramener le rem à 10px */

html {
    font-size: 62.5%;
    
}

/* j'initialise le rem à 10 px */

body {
    margin: 0;
    font-size: 1.6rem;
}

/* container pour min width */

.color{
    background-color: rgb(59, 58, 56);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    
  }

.containerForm {
  
  margin: 5rem auto;
  
}

/* je crée des classes simples afin de les integrés au mieux */

img{
    width: 40%;
}

.flex {
    display: flex;
}

.flexcolumn{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}


/* Le header et ses class */


header {
    padding: 2rem;
    justify-content: space-between;
    background-color: rgb(59, 58, 56);
    flex-basis: auto;
}


/* le positionning des 2 encart */

.accueil{
    background-image: url(../img/Lille-Seminaires.jpg);
}

.goodbye{
    background-image: url(../img/Lille-Hall.jpg);
}

.bg {
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.presentation{
    background-color:rgba(80, 51, 51, 0.676);
    color: white;
    display: inline-block;
    padding: 2rem;
}

hr{
    width: 50%;
    margin: 0 auto;
}


/* LEs formulaires */

fieldset{
    border: 0;
    
}

legend{
    color: white;
}




select{
    padding: 0.5rem;
    background-color: white;
}


a {
    
    padding: 0.5rem;
    color: rgb(0, 0, 0);
}



label {
    color: white;
    padding: 1rem 0;
}

input {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

form{
    margin: 5rem 0;
    background-color: black;
    color: white;
    padding: 2rem;
}


.btn{
    border: 1px solid white;
    background-color: bisque;
    justify-content: center;
}

@media screen and (min-width: 991px) {
    .containerForm {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .flexcolumn{
        flex-basis: 12%;
        margin: 0 2rem;
    }

  }
